---
title: Tags
permalink: /tags/
layout: page
excerpt: Sorted article by tags.
---

<div class="archive-tags">
  <a class="tag-item" href="#">all</a>
  {%- for tag in site.tags -%} 
    {% capture name %}{{ tag | first }}{% endcapture %}
    <a class="tag-item" href="#{{name}}">{{ name }}</a> 
  {%- endfor -%}
</div>

{%- for tag in site.tags -%}
  {%- capture name -%}{{ tag | first }}{%- endcapture -%}
  <h2 id="{{ name }}">{{ name | upcase }}</h2>
  {%- for post in site.tags[name] %}
  <article class="post-item" id="results-container">
    <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
    <h3 class="post-item-title">
      <a href="{{ post.url }}">{{ post.title | escape }}</a>
    </h3>
  </article>
  {%- endfor -%}
  {% assign max_page = (site.tags[name].size | divided_by: site.paginate) | ceil %}
  {% assign now_page = site.now_page %}
  {% if site.now_page != 1 %}
    <a
            class="page-previous"
            href="{{ paginator.previous_page_path }}"
            class="previous"
    >
      <span aria-hidden="true">←</span> NEWER POSTS
    </a>
  {% endif %}
    <span class="page_number"
    > {{ now_page }}</span
    >
  {% if now_page != max_page %}
    <a class="page-next" href="{{ paginator.next_page_path }}" class="next"
    >OLDER POSTS
      <span aria-hidden="true">→</span>
    </a>
  {% endif %}
{%- endfor -%}